input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="week"],
input[multiple],
textarea,
select {
   border: 1px solid #cda45e !important;
   border-radius: 13px !important;
   margin: 5px !important;
}

.add {
   background-color: #cda45e !important;
   color:white;
   border-radius: 50px;
   padding: 10px !important;
   margin: 10px
   
}

.form-control {
   height: 50% !important;
}
